# Environment files
.env
prisma/.env

# Node.js dependencies
node_modules/

# Docker files
docker-compose.yml

# Logs
*.log

# macOS system files
.DS_Store

# Temporary files
*.tmp

# Prisma migrations
prisma/migrations/